{% extends "orga/cfp/base.html" %}
{% load bootstrap4 %}
{% load formset_tags %}
{% load i18n %}
{% load staticfiles %}
{% block cfp_content %}

<h4>
    »{{ question.question }}«
    <small>({{ question.get_variant_display }})</small>
    <a href="{{ question.urls.edit }}" class="btn btn-xs btn-secondary">
        <i class="fa fa-pencil"></i>
    </a>
</h4>

<form id="questionemails" action="" method="POST">
    Send email to all speakers who ...

    <ul>
        {% for field in form %}
            <li>
                {{ field }}
                <label for="{{ field.id_for_label }}">... {{ field.label }}</label>
            </li>
        {% endfor %}
    </ul>
    <button class="btn btn-primary">send</button>
</form>
{% endblock %}
